body{
    background: #000000;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7f7280', endColorstr='#000000');
    background-image: -webkit-linear-gradient(200deg, #7f7280, #000000);
    background-image: -moz-linear-gradient(200deg, #7f7280, #000000);
    background-image: -o-linear-gradient(200deg, #7f7280, #000000);
    background-image: -ms-linear-gradient(200deg, #7f7280, #000000);
    background-image: linear-gradient(200deg, #7f7280, #000000);

}
#blur-img{
    position: fixed;
    height: 100%;
    left: -10%;
    width: 120%;
    overflow: hidden;
}

.header{
    height: 50px;
    position: absolute;
}
.logo{
    transition:all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    -ms-transition:all 0.25s ease;
    display:inline-block;
    font-size:23px;
    color:#829194;
    cursor: pointer;
    margin:10px  20px;
}
.logo:hover{
    color:#fff;
}
